<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->
      <ion-menu-button color="primary"  menu="unico">
      </ion-menu-button>
    </ion-buttons>
    <ion-title>Mis Darumas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="colorFondo ion-padding-horizontal" >
  <ion-row class="ion-justify-content-center paddingVerticalM ion-align-items-end centrarG"  >
    <ion-col class="ion-no-padding" size="12" size-md="8">
      <ion-text color="rosa ion-padding-left ion-no-margin">
        <p>
          <b>Bienvenid&#64;: </b>
          <ion-text color="dark">
            <span>{{ usuario }}</span>
          </ion-text>        
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center ion-padding-horizontal">
    <ion-col size="12" size-md="6">
      <ion-button color="verde" type="button"
      expand="block" (click)="goToScanQr()">
        <ion-icon slot="start" name="qr-code-outline"></ion-icon>
        Agregar Daruma
      </ion-button>
    </ion-col>
  </ion-row>
  <ion-row class="ion-justify-content-center paddingVerticalM centrarG"  align-items-end>    
    <ion-col class="ion-no-padding" size="12" size-md="8">
      <ion-text color="rosa" class="ion-padding-left ion-no-margin">
        <p>
          <b>Elige un Daruma:</b>
        </p>
      </ion-text>
    </ion-col>
  </ion-row>
  <!-- Lista de darumas -->
  <ion-row class="ion-justify-content-center ion-no-padding">
    <ion-col size="12" size-md="8" class="ion-no-padding" >
      <ion-list class="ion-no-padding">
        <ion-row class="ion-justify-content-center ion-no-padding"
          *ngIf="noDarumaFlag == true">
          <ion-col class="ion-justify-content-center footerColor ion-no-padding">
            <ion-text class="ion-text-center" color="azul">
              <h3>¡A&uacute;n no tienes Darumas!</h3>
            </ion-text>
          </ion-col>
        </ion-row>
    
        <ion-row class="ion-justify-content-center">
          <ion-col class="ion-no-padding footerColor"  >
            <ion-item class="item-background-color ion-no-padding" (click)="goToDetalle(daruma.qrcode, toki)" 
            *ngFor="let daruma of darumas">
              <ion-thumbnail class="imgCien ion-no-margin paddingRightM" slot="start" *ngIf="daruma.estado == 6">
                <img src="./../../../assets/imgs/colores/Darumas_azul_2.webp" alt="Darumas_azul_2" *ngIf="daruma.cveColor == 'AZ'">
                <img src="./../../../assets/imgs/colores/Darumas_blanco_2.webp" alt="Darumas_blanco_2" *ngIf="daruma.cveColor == 'BL'">
                <img src="./../../../assets/imgs/colores/Darumas_dorado_2.webp" alt="Darumas_dorado_2" *ngIf="daruma.cveColor == 'DO'">
                <img src="./../../../assets/imgs/colores/Darumas_naranja_2.webp" alt="Darumas_naranja_2" *ngIf="daruma.cveColor == 'NA'">
                <img src="./../../../assets/imgs/colores/Darumas_negro_2.webp" alt="Darumas_negro_2" *ngIf="daruma.cveColor == 'NE'">
                <img src="./../../../assets/imgs/colores/Darumas_rojo_2.webp" alt="Darumas_rojo_2" *ngIf="daruma.cveColor == 'RJ'">
                <img src="./../../../assets/imgs/colores/Darumas_rosa_2.webp" alt="Darumas_rosa_2" *ngIf="daruma.cveColor == 'RS'">
                <img src="./../../../assets/imgs/colores/Darumas_verde_2.webp" alt="Darumas_verde_2" *ngIf="daruma.cveColor == 'VE'">
                <img src="./../../../assets/imgs/colores/Darumas_lila_2.webp" alt="Darumas_lila_2" *ngIf="daruma.cveColor == 'VI'">
              </ion-thumbnail>
              <ion-thumbnail class="imgCien ion-no-margin paddingRightM" style="opacity: 0.5;" slot="start" *ngIf="daruma.estado == 8">
                <img src="./../../../assets/imgs/colores/Darumas_azul_3.webp" alt="Darumas_azul_3" *ngIf="daruma.cveColor == 'AZ'">
                <img src="./../../../assets/imgs/colores/Darumas_blanco_3.webp" alt="Darumas_blanco_3" *ngIf="daruma.cveColor == 'BL'">
                <img src="./../../../assets/imgs/colores/Darumas_dorado_3.webp" alt="Darumas_dorado_3" *ngIf="daruma.cveColor == 'DO'">
                <img src="./../../../assets/imgs/colores/Darumas_naranja_3.webp" alt="Darumas_naranja_3" *ngIf="daruma.cveColor == 'NA'">
                <img src="./../../../assets/imgs/colores/Darumas_negro_3.webp" alt="Darumas_negro_3" *ngIf="daruma.cveColor == 'NE'">
                <img src="./../../../assets/imgs/colores/Darumas_rojo_3.webp" alt="Darumas_rojo_3" *ngIf="daruma.cveColor == 'RJ'">
                <img src="./../../../assets/imgs/colores/Darumas_rosa_3.webp" alt="Darumas_rosa_3" *ngIf="daruma.cveColor == 'RS'">
                <img src="./../../../assets/imgs/colores/Darumas_verde_3.webp" alt="Darumas_verde_3" *ngIf="daruma.cveColor == 'VE'">
                <img src="./../../../assets/imgs/colores/Darumas_lila_3.webp" alt="Darumas_lila_3" *ngIf="daruma.cveColor == 'VI'">
              </ion-thumbnail>
              <div>
                <ion-label class="ion-no-margin ion-no-padding ">
                  <h2 class="proposito">{{daruma.descripcion}}</h2>
                  <p>{{daruma.fechaInicio | date: 'dd/MM/yyyy' }}</p>
                  <p style="color: black" *ngIf="daruma.estado == 6" >Activo</p>
                  <p *ngIf="daruma.estado == 8" >
                    <span>{{daruma.fechaCompletado | date: 'dd/MM/yyyy' }}</span>
                    <b> ¡Cumplido!</b>
                  </p>
                </ion-label>
              </div>
              
              
              <ion-button fill="clear ion-no-padding ion-no-margin paddingLeftMdos" slot="end">Ver</ion-button>
            </ion-item>
          </ion-col>
        </ion-row>
      </ion-list>
    </ion-col>
  </ion-row>

</ion-content>
<!-- footer -->
<ion-footer class="footerColor ion-no-border" >
  <ion-grid class="ion-no-padding">
    <ion-row >
      <ion-col size="12">
        <div class="ion-text-center">
          <small>Powered by <b>Devstar Novatech.</b></small>
        </div>        
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
