page-inicio-login {

    .noPaddingH{
      padding-left: 0px;
      padding-right: 0px;
    }
    // .item-wp {
    //   background-color: #d7fCCE;
    // }
    .asd{
      position: absolute;
    }
  }
  