// For information on how to create your own theme, please refer to:
// https://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  /** primary **/
  --ion-color-primary: #3880ff;
  --ion-color-primary-rgb: 56, 128, 255;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #3171e0;
  --ion-color-primary-tint: #4c8dff;

  /** secondary **/
  --ion-color-secondary: #3dc2ff;
  --ion-color-secondary-rgb: 61, 194, 255;
  --ion-color-secondary-contrast: #ffffff;
  --ion-color-secondary-contrast-rgb: 255, 255, 255;
  --ion-color-secondary-shade: #36abe0;
  --ion-color-secondary-tint: #50c8ff;

  /** tertiary **/
  --ion-color-tertiary: #5260ff;
  --ion-color-tertiary-rgb: 82, 96, 255;
  --ion-color-tertiary-contrast: #ffffff;
  --ion-color-tertiary-contrast-rgb: 255, 255, 255;
  --ion-color-tertiary-shade: #4854e0;
  --ion-color-tertiary-tint: #6370ff;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #ffc409;
  --ion-color-warning-rgb: 255, 196, 9;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0ac08;
  --ion-color-warning-tint: #ffca22;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #222428;
  --ion-color-dark-rgb: 34, 36, 40;
  --ion-color-dark-contrast: #ffffff;
  --ion-color-dark-contrast-rgb: 255, 255, 255;
  --ion-color-dark-shade: #1e2023;
  --ion-color-dark-tint: #383a3e;

  /** medium **/
  --ion-color-medium: #92949c;
  --ion-color-medium-rgb: 146, 148, 156;
  --ion-color-medium-contrast: #ffffff;
  --ion-color-medium-contrast-rgb: 255, 255, 255;
  --ion-color-medium-shade: #808289;
  --ion-color-medium-tint: #9d9fa6;

  /** light **/
  --ion-color-light: #f4f5f8;
  --ion-color-light-rgb: 244, 245, 248;
  --ion-color-light-contrast: #000000;
  --ion-color-light-contrast-rgb: 0, 0, 0;
  --ion-color-light-shade: #d7d8da;
  --ion-color-light-tint: #f5f6f9;

  // gris  
  --ion-color-gris: #cecece;
  --ion-color-gris-rgb: 206,206,206;
  --ion-color-gris-contrast: #000000;
  --ion-color-gris-contrast-rgb: 0,0,0;
  --ion-color-gris-shade: #b5b5b5;
  --ion-color-gris-tint: #d3d3d3;
  
  //Rosa
  --ion-color-rosa: #e33d6f;
  --ion-color-rosa-rgb: 227,61,111;
  --ion-color-rosa-contrast: #ffffff;
  --ion-color-rosa-contrast-rgb: 255,255,255;
  --ion-color-rosa-shade: #c83662;
  --ion-color-rosa-tint: #e6507d;

  //Rosa1
  --ion-color-rosauno: #E43C6F;
  --ion-color-rosauno-rgb: 228,60,111;
  --ion-color-rosauno-contrast: #ffffff;
  --ion-color-rosauno-contrast-rgb: 255,255,255;
  --ion-color-rosauno-shade: #c93562;
  --ion-color-rosauno-tint: #e7507d;

  //Rosa2
  --ion-color-rosados: #ff0066;
  --ion-color-rosados-rgb: 255,0,102;
  --ion-color-rosados-contrast: #ffffff;
  --ion-color-rosados-contrast-rgb: 255,255,255;
  --ion-color-rosados-shade: #e0005a;
  --ion-color-rosados-tint: #ff1a75;

  //rosa3
  --ion-color-rosatre: #ff005e;
  --ion-color-rosatre-rgb: 255,0,94;
  --ion-color-rosatre-contrast: #ffffff;
  --ion-color-rosatre-contrast-rgb: 255,255,255;
  --ion-color-rosatre-shade: #e00053;
  --ion-color-rosatre-tint: #ff1a6e;

  //fondo
  --ion-color-fondo: #D7ECCE;
  --ion-color-fondo-rgb: 215,236,206;
  --ion-color-fondo-contrast: #000000;
  --ion-color-fondo-contrast-rgb: 0,0,0;
  --ion-color-fondo-shade: #bdd0b5;
  --ion-color-fondo-tint: #dbeed3;

  //fondo 2
  --ion-color-fondodos: #ffffff;
  --ion-color-fondodos-rgb: 255,255,255;
  --ion-color-fondodos-contrast: #000000;
  --ion-color-fondodos-contrast-rgb: 0,0,0;
  --ion-color-fondodos-shade: #e0e0e0;
  --ion-color-fondodos-tint: #ffffff;

  //verde
  --ion-color-verde: #3DBD66;
  --ion-color-verde-rgb: 61,189,102;
  --ion-color-verde-contrast: #ffffff;
  --ion-color-verde-contrast-rgb: 0,0,0;
  --ion-color-verde-shade: #36a65a;
  --ion-color-verde-tint: #50c475;

  //Azul
  --ion-color-azul: #0489C2;
  --ion-color-azul-rgb: 4,137,194;
  --ion-color-azul-contrast: #ffffff;
  --ion-color-azul-contrast-rgb: 255,255,255;
  --ion-color-azul-shade: #0479ab;
  --ion-color-azul-tint: #1d95c8;

  //azulFace
  --ion-color-azulface: #3b5998;
  --ion-color-azulface-rgb: 59,89,152;
  --ion-color-azulface-contrast: #ffffff;
  --ion-color-azulface-contrast-rgb: 255,255,255;
  --ion-color-azulface-shade: #344e86;
  --ion-color-azulface-tint: #4f6aa2;

  //violetaInta
  --ion-color-vioinsta: #bc2a8d;
  --ion-color-vioinsta-rgb: 188,42,141;
  --ion-color-vioinsta-contrast: #ffffff;
  --ion-color-vioinsta-contrast-rgb: 255,255,255;
  --ion-color-vioinsta-shade: #a5257c;
  --ion-color-vioinsta-tint: #c33f98;

  //verdeLista
  --ion-color-listaverde: #d7fCCE;
  --ion-color-listaverde-rgb: 215,252,206;
  --ion-color-listaverde-contrast: #000000;
  --ion-color-listaverde-contrast-rgb: 0,0,0;
  --ion-color-listaverde-shade: #bddeb5;
  --ion-color-listaverde-tint: #dbfcd3;

  //Colores Darumas

  //azuldaruma
  --ion-color-azuldaruma: #0c4096;
  --ion-color-azuldaruma-rgb: 12,64,150;
  --ion-color-azuldaruma-contrast: #ffffff;
  --ion-color-azuldaruma-contrast-rgb: 255,255,255;
  --ion-color-azuldaruma-shade: #0b3884;
  --ion-color-azuldaruma-tint: #2453a1;

  //blancodaruma
  --ion-color-blancodaruma: #e7e4dec2;
  --ion-color-blancodaruma-rgb: 231,228,222;
  --ion-color-blancodaruma-contrast: #000000;
  --ion-color-blancodaruma-contrast-rgb: 0,0,0;
  --ion-color-blancodaruma-shade: #cbc9c3;
  --ion-color-blancodaruma-tint: #e9e7e1;

  //doradodaruma
  --ion-color-doradodaruma: #ddb97c;
  --ion-color-doradodaruma-rgb: 221,185,124;
  --ion-color-doradodaruma-contrast: #000000;
  --ion-color-doradodaruma-contrast-rgb: 0,0,0;
  --ion-color-doradodaruma-shade: #c2a36d;
  --ion-color-doradodaruma-tint: #e0c089;

  //liladaruma
  --ion-color-liladaruma: #764d7b;
  --ion-color-liladaruma-rgb: 118,77,123;
  --ion-color-liladaruma-contrast: #ffffff;
  --ion-color-liladaruma-contrast-rgb: 255,255,255;
  --ion-color-liladaruma-shade: #68446c;
  --ion-color-liladaruma-tint: #845f88;

  //naranjadaruma
  --ion-color-naranjadaruma: #f08228;
  --ion-color-naranjadaruma-rgb: 240,130,40;
  --ion-color-naranjadaruma-contrast: #000000;
  --ion-color-naranjadaruma-contrast-rgb: 0,0,0;
  --ion-color-naranjadaruma-shade: #d37223;
  --ion-color-naranjadaruma-tint: #f28f3e;

  //rojodaruma
  --ion-color-rojodaruma: #c64735;
  --ion-color-rojodaruma-rgb: 198,71,53;
  --ion-color-rojodaruma-contrast: #ffffff;
  --ion-color-rojodaruma-contrast-rgb: 255,255,255;
  --ion-color-rojodaruma-shade: #ae3e2f;
  --ion-color-rojodaruma-tint: #cc5949;

  //rosadaruma
  --ion-color-rosadaruma: #f196b2;
  --ion-color-rosadaruma-rgb: 241,150,178;
  --ion-color-rosadaruma-contrast: #000000;
  --ion-color-rosadaruma-contrast-rgb: 0,0,0;
  --ion-color-rosadaruma-shade: #d4849d;
  --ion-color-rosadaruma-tint: #f2a1ba;

  //verdedaruma
  --ion-color-verdedaruma: #186136;
  --ion-color-verdedaruma-rgb: 24,97,54;
  --ion-color-verdedaruma-contrast: #ffffff;
  --ion-color-verdedaruma-contrast-rgb: 255,255,255;
  --ion-color-verdedaruma-shade: #155530;
  --ion-color-verdedaruma-tint: #2f714a;
  
  --ion-font-family: 'fuenteMenu';
}

app-root.cameraView, app-root.cameraView ion-content, app-root.cameraView .nav-decor {
  --background: transparent none !important;
}

.ion-color-gris {
  --ion-color-base: var(--ion-color-gris);
  --ion-color-base-rgb: var(--ion-color-gris-rgb);
  --ion-color-contrast: var(--ion-color-gris-contrast);
  --ion-color-contrast-rgb: var(--ion-color-gris-contrast-rgb);
  --ion-color-shade: var(--ion-color-gris-shade);
  --ion-color-tint: var(--ion-color-gris-tint);
}

.ion-color-rosa {
  --ion-color-base: var(--ion-color-rosa);
  --ion-color-base-rgb: var(--ion-color-rosa-rgb);
  --ion-color-contrast: var(--ion-color-rosa-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosa-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosa-shade);
  --ion-color-tint: var(--ion-color-rosa-tint);
}

.ion-color-rosauno {
  --ion-color-base: var(--ion-color-rosauno);
  --ion-color-base-rgb: var(--ion-color-rosauno-rgb);
  --ion-color-contrast: var(--ion-color-rosauno-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosauno-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosauno-shade);
  --ion-color-tint: var(--ion-color-rosauno-tint);
}

.ion-color-rosados {
  --ion-color-base: var(--ion-color-rosados);
  --ion-color-base-rgb: var(--ion-color-rosados-rgb);
  --ion-color-contrast: var(--ion-color-rosados-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosados-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosados-shade);
  --ion-color-tint: var(--ion-color-rosados-tint);
}

.ion-color-fondo {
  --ion-color-base: var(--ion-color-fondo);
  --ion-color-base-rgb: var(--ion-color-fondo-rgb);
  --ion-color-contrast: var(--ion-color-fondo-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fondo-contrast-rgb);
  --ion-color-shade: var(--ion-color-fondo-shade);
  --ion-color-tint: var(--ion-color-fondo-tint);
}

.ion-color-fondodos {
  --ion-color-base: var(--ion-color-fondodos);
  --ion-color-base-rgb: var(--ion-color-fondodos-rgb);
  --ion-color-contrast: var(--ion-color-fondodos-contrast);
  --ion-color-contrast-rgb: var(--ion-color-fondodos-contrast-rgb);
  --ion-color-shade: var(--ion-color-fondodos-shade);
  --ion-color-tint: var(--ion-color-fondodos-tint);
}

.ion-color-verde {
  --ion-color-base: var(--ion-color-verde);
  --ion-color-base-rgb: var(--ion-color-verde-rgb);
  --ion-color-contrast: var(--ion-color-verde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verde-contrast-rgb);
  --ion-color-shade: var(--ion-color-verde-shade);
  --ion-color-tint: var(--ion-color-verde-tint);
}

.ion-color-azul {
  --ion-color-base: var(--ion-color-azul);
  --ion-color-base-rgb: var(--ion-color-azul-rgb);
  --ion-color-contrast: var(--ion-color-azul-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azul-contrast-rgb);
  --ion-color-shade: var(--ion-color-azul-shade);
  --ion-color-tint: var(--ion-color-azul-tint);
}

.ion-color-azulface {
  --ion-color-base: var(--ion-color-azulface);
  --ion-color-base-rgb: var(--ion-color-azulface-rgb);
  --ion-color-contrast: var(--ion-color-azulface-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azulface-contrast-rgb);
  --ion-color-shade: var(--ion-color-azulface-shade);
  --ion-color-tint: var(--ion-color-azulface-tint);
}

.ion-color-vioinsta {
  --ion-color-base: var(--ion-color-vioinsta);
  --ion-color-base-rgb: var(--ion-color-vioinsta-rgb);
  --ion-color-contrast: var(--ion-color-vioinsta-contrast);
  --ion-color-contrast-rgb: var(--ion-color-vioinsta-contrast-rgb);
  --ion-color-shade: var(--ion-color-vioinsta-shade);
  --ion-color-tint: var(--ion-color-vioinsta-tint);
}

.ion-color-listaverde {
  --ion-color-base: var(--ion-color-listaverde);
  --ion-color-base-rgb: var(--ion-color-listaverde-rgb);
  --ion-color-contrast: var(--ion-color-listaverde-contrast);
  --ion-color-contrast-rgb: var(--ion-color-listaverde-contrast-rgb);
  --ion-color-shade: var(--ion-color-listaverde-shade);
  --ion-color-tint: var(--ion-color-listaverde-tint);
}

.ion-color-azuldaruma {
  --ion-color-base: var(--ion-color-azuldaruma);
  --ion-color-base-rgb: var(--ion-color-azuldaruma-rgb);
  --ion-color-contrast: var(--ion-color-azuldaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-azuldaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-azuldaruma-shade);
  --ion-color-tint: var(--ion-color-azuldaruma-tint);
}

.ion-color-blancodaruma {
  --ion-color-base: var(--ion-color-blancodaruma);
  --ion-color-base-rgb: var(--ion-color-blancodaruma-rgb);
  --ion-color-contrast: var(--ion-color-blancodaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-blancodaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-blancodaruma-shade);
  --ion-color-tint: var(--ion-color-blancodaruma-tint);
}

.ion-color-doradodaruma {
  --ion-color-base: var(--ion-color-doradodaruma);
  --ion-color-base-rgb: var(--ion-color-doradodaruma-rgb);
  --ion-color-contrast: var(--ion-color-doradodaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-doradodaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-doradodaruma-shade);
  --ion-color-tint: var(--ion-color-doradodaruma-tint);
}

.ion-color-liladaruma {
  --ion-color-base: var(--ion-color-liladaruma);
  --ion-color-base-rgb: var(--ion-color-liladaruma-rgb);
  --ion-color-contrast: var(--ion-color-liladaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-liladaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-liladaruma-shade);
  --ion-color-tint: var(--ion-color-liladaruma-tint);
}

.ion-color-naranjadaruma {
  --ion-color-base: var(--ion-color-naranjadaruma);
  --ion-color-base-rgb: var(--ion-color-naranjadaruma-rgb);
  --ion-color-contrast: var(--ion-color-naranjadaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-naranjadaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-naranjadaruma-shade);
  --ion-color-tint: var(--ion-color-naranjadaruma-tint);
}

.ion-color-rojodaruma {
  --ion-color-base: var(--ion-color-rojodaruma);
  --ion-color-base-rgb: var(--ion-color-rojodaruma-rgb);
  --ion-color-contrast: var(--ion-color-rojodaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rojodaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-rojodaruma-shade);
  --ion-color-tint: var(--ion-color-rojodaruma-tint);
}

.ion-color-rosadaruma {
  --ion-color-base: var(--ion-color-rosadaruma);
  --ion-color-base-rgb: var(--ion-color-rosadaruma-rgb);
  --ion-color-contrast: var(--ion-color-rosadaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-rosadaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-rosadaruma-shade);
  --ion-color-tint: var(--ion-color-rosadaruma-tint);
}

.ion-color-verdedaruma {
  --ion-color-base: var(--ion-color-verdedaruma);
  --ion-color-base-rgb: var(--ion-color-verdedaruma-rgb);
  --ion-color-contrast: var(--ion-color-verdedaruma-contrast);
  --ion-color-contrast-rgb: var(--ion-color-verdedaruma-contrast-rgb);
  --ion-color-shade: var(--ion-color-verdedaruma-shade);
  --ion-color-tint: var(--ion-color-verdedaruma-tint);
}

@font-face {
  font-family: 'fuenteMenu';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/poppins/Poppins-Regular.ttf');
}

@media (prefers-color-scheme: dark) {
  :root {
    --ion-background-color: #121212;
    --ion-background-color-rgb: 18,18,18;
    --ion-text-color: #ffffff;
    --ion-text-color-rgb: 255,255,255;
    --ion-item-background: #1e1e1e;
    --ion-toolbar-background: #1f1f1f;
  }
  
  body {
    --ion-color-fondodos: #1a1a1a;
    --ion-color-fondodos-rgb: 26,26,26;
    --ion-color-fondodos-contrast: #ffffff;
    --ion-color-fondodos-contrast-rgb: 255,255,255;
    --ion-color-fondodos-shade: #171717;
    --ion-color-fondodos-tint: #313131;

    --ion-color-fondo: #1a1a1a;
    --ion-color-fondo-rgb: 26,26,26;
    --ion-color-fondo-contrast: #ffffff;
    --ion-color-fondo-contrast-rgb: 255,255,255;
    --ion-color-fondo-shade: #171717;
    --ion-color-fondo-tint: #313131;

    --ion-color-listaverde: #1a2e19;
    --ion-color-listaverde-rgb: 26,46,25;
    --ion-color-listaverde-contrast: #ffffff;
    --ion-color-listaverde-contrast-rgb: 255,255,255;
    --ion-color-listaverde-shade: #172815;
    --ion-color-listaverde-tint: #314332;
  }
}
//   /*
//    * Dark Colors
//    * -------------------------------------------
//    */

//   body {
//     --ion-color-fondodos: #000000;
//     --ion-color-fondodos-rgb: 0,0,0;
//     --ion-color-fondodos-contrast: #ffffff;
//     --ion-color-fondodos-contrast-rgb: 255,255,255;
//     --ion-color-fondodos-shade: #000000;
//     --ion-color-fondodos-tint: #1a1a1a;

//     --ion-color-primary: #428cff;
//     --ion-color-primary-rgb: 66,140,255;
//     --ion-color-primary-contrast: #ffffff;
//     --ion-color-primary-contrast-rgb: 255,255,255;
//     --ion-color-primary-shade: #3a7be0;
//     --ion-color-primary-tint: #5598ff;

//     --ion-color-secondary: #50c8ff;
//     --ion-color-secondary-rgb: 80,200,255;
//     --ion-color-secondary-contrast: #ffffff;
//     --ion-color-secondary-contrast-rgb: 255,255,255;
//     --ion-color-secondary-shade: #46b0e0;
//     --ion-color-secondary-tint: #62ceff;

//     --ion-color-tertiary: #6a64ff;
//     --ion-color-tertiary-rgb: 106,100,255;
//     --ion-color-tertiary-contrast: #ffffff;
//     --ion-color-tertiary-contrast-rgb: 255,255,255;
//     --ion-color-tertiary-shade: #5d58e0;
//     --ion-color-tertiary-tint: #7974ff;

//     --ion-color-success: #2fdf75;
//     --ion-color-success-rgb: 47,223,117;
//     --ion-color-success-contrast: #000000;
//     --ion-color-success-contrast-rgb: 0,0,0;
//     --ion-color-success-shade: #29c467;
//     --ion-color-success-tint: #44e283;

//     --ion-color-warning: #ffd534;
//     --ion-color-warning-rgb: 255,213,52;
//     --ion-color-warning-contrast: #000000;
//     --ion-color-warning-contrast-rgb: 0,0,0;
//     --ion-color-warning-shade: #e0bb2e;
//     --ion-color-warning-tint: #ffd948;

//     --ion-color-danger: #ff4961;
//     --ion-color-danger-rgb: 255,73,97;
//     --ion-color-danger-contrast: #ffffff;
//     --ion-color-danger-contrast-rgb: 255,255,255;
//     --ion-color-danger-shade: #e04055;
//     --ion-color-danger-tint: #ff5b71;

//     --ion-color-dark: #f4f5f8;
//     --ion-color-dark-rgb: 244,245,248;
//     --ion-color-dark-contrast: #000000;
//     --ion-color-dark-contrast-rgb: 0,0,0;
//     --ion-color-dark-shade: #d7d8da;
//     --ion-color-dark-tint: #f5f6f9;

//     --ion-color-medium: #989aa2;
//     --ion-color-medium-rgb: 152,154,162;
//     --ion-color-medium-contrast: #000000;
//     --ion-color-medium-contrast-rgb: 0,0,0;
//     --ion-color-medium-shade: #86888f;
//     --ion-color-medium-tint: #a2a4ab;

//     --ion-color-light: #222428;
//     --ion-color-light-rgb: 34,36,40;
//     --ion-color-light-contrast: #ffffff;
//     --ion-color-light-contrast-rgb: 255,255,255;
//     --ion-color-light-shade: #1e2023;
//     --ion-color-light-tint: #383a3e;
//   }

//   /*
//    * iOS Dark Theme
//    * -------------------------------------------
//    */

//   .ios body {
//     --ion-background-color: #000000;
//     --ion-background-color-rgb: 0,0,0;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-color-step-50: #0d0d0d;
//     --ion-color-step-100: #1a1a1a;
//     --ion-color-step-150: #262626;
//     --ion-color-step-200: #333333;
//     --ion-color-step-250: #404040;
//     --ion-color-step-300: #4d4d4d;
//     --ion-color-step-350: #595959;
//     --ion-color-step-400: #666666;
//     --ion-color-step-450: #737373;
//     --ion-color-step-500: #808080;
//     --ion-color-step-550: #8c8c8c;
//     --ion-color-step-600: #999999;
//     --ion-color-step-650: #a6a6a6;
//     --ion-color-step-700: #b3b3b3;
//     --ion-color-step-750: #bfbfbf;
//     --ion-color-step-800: #cccccc;
//     --ion-color-step-850: #d9d9d9;
//     --ion-color-step-900: #e6e6e6;
//     --ion-color-step-950: #f2f2f2;

//     --ion-toolbar-background: #0d0d0d;

//     --ion-item-background: #000000;
//   }


//   /*
//    * Material Design Dark Theme
//    * -------------------------------------------
//    */

//   .md body {
//     --ion-background-color: #121212;
//     --ion-background-color-rgb: 18,18,18;

//     --ion-text-color: #ffffff;
//     --ion-text-color-rgb: 255,255,255;

//     --ion-border-color: #222222;

//     --ion-color-step-50: #1e1e1e;
//     --ion-color-step-100: #2a2a2a;
//     --ion-color-step-150: #363636;
//     --ion-color-step-200: #414141;
//     --ion-color-step-250: #4d4d4d;
//     --ion-color-step-300: #595959;
//     --ion-color-step-350: #656565;
//     --ion-color-step-400: #717171;
//     --ion-color-step-450: #7d7d7d;
//     --ion-color-step-500: #898989;
//     --ion-color-step-550: #949494;
//     --ion-color-step-600: #a0a0a0;
//     --ion-color-step-650: #acacac;
//     --ion-color-step-700: #b8b8b8;
//     --ion-color-step-750: #c4c4c4;
//     --ion-color-step-800: #d0d0d0;
//     --ion-color-step-850: #dbdbdb;
//     --ion-color-step-900: #e7e7e7;
//     --ion-color-step-950: #f3f3f3;

//     --ion-item-background: #1e1e1e;

//     --ion-toolbar-background: #1f1f1f;

//     --ion-tab-bar-background: #1f1f1f;
//   }


// }
